* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pirata One', cursive;
}

header {
    background: silver;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 1rem;
}

header,
main {
    text-align: center;
}

main {
    padding: 0.75rem;
}


p {
    border-bottom: solid 1px black;
    padding-bottom: 1rem;
}

table {
    margin: 0 auto;
}

img {
    width: 50%;
    height: auto;
    border-radius: 80%;
    border: solid 3px black;
    margin-bottom: 1rem;
}

.row-heading {
    font-size: 1rem;
    font-weight: bold;
}

.word-btn,
#clear,
#new_line {
    font-family: 'Roboto Slab', serif;
    font-size: 0.6rem; 
    font-weight: bold;
    padding: 0.25rem;
}

.word-btn {
    background: #395461;
    border: solid 2px transparent;
    border-radius: 5px 5px;
    color: white;
    margin: 0.15rem;
}

.word-btn:hover,
.word-btn:active {
    background: white;
    color: #395461;
    border: solid 2px #395461;
}

#new_line,
#clear {
    margin-top: 1rem;
    border-radius: 5px 5px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

#clear {
    color: firebrick;
    border: solid 2px rgba(178, 34, 34, 0.246);
}

#new_line {
    color: #3CB371;
    border: solid 2px #3CB371;
}

#clear:hover,
#clear:active {
    color: white;
    background: firebrick;
    border: solid 2px white;
}

#new_line:hover,
#new_line:active {
    color: white;
    background: #3CB371;
    border: solid 2px white;
}

#outputDiv {
    margin-top: 1rem;
    background-color:rgba(112, 128, 144, 0.233);
    border: solid 2px black;
    padding: 1rem;
    min-height: 25vh;
	max-height: 50vh;
	width: 100%;
    overflow: auto;
    font-size: 1rem;
    text-shadow: 2px 2px slategray;
}

@media (min-width: 768px) {

 header {
    padding:
 }

main {
    width: 75%;
    margin: 0 auto;
}

.row-heading {
    font-size: 1.2rem; 
}

.word-btn,
#clear,
#new_line {
    padding: 1rem;
    font-size: 1.2rem;    
}

#outputDiv {
    font-size: 2rem;
}

}